asgiref==3.6.0
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.1.1
cycler==0.12.1
Django==4.2
django-cors-headers==3.14.0
djangorestframework==3.14.0
fonttools==4.43.1
google==3.0.0
google-api-core==2.18.0
google-api-python-client==2.123.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-speech==2.20.0
google-cloud-vision==3.7.2
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==22.0.0
httplib2==0.22.0
idna==3.6
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.8.0
mysqlclient==2.1.1
numpy==1.26.1
packaging==23.2
Pillow==10.1.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.13
pyparsing==3.1.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
requests==2.31.0
rsa==4.9
scipy==1.11.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.2.1
zipp==3.17.0
